:root {
    --color-dark: #06141B;
    --color-darker: #11212D;
    --color-darker-blur: #11212dbd;
    --color-medium: #253745;
    --color-light: #4A5C6A;
    --color-lighter: #9BA8AB;
    --color-white: #CCD0CF;
    --color-background: #F5F7F8; /* Светлый фон для контраста */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    font-size: 15px;
}

body {
    background-color: var(--color-background);
	color: var(--color-lighter);
}
h1{
    font-size: 4rem;
    font-weight: 500;
}
h2{
    font-size: 3rem;
    font-weight: 200;
}
h3,p,ul,details,.caption,.logo{
    font-size: 1.5rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark);
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.header__logo {
    font-weight: bold;
    color: var(--color-white);
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__icons i {
    margin-left: 20px;
    color: var(--color-lighter);
    transition: color 0.3s;
}

.header__icons i:hover {
    color: var(--color-white);
}

.swiper-container {
    width: 100%;
    height: 60vh;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--color-white);
}

.swiper-overlay__title {
    font-size: 4rem;
    font-weight: 500;
}

.info-section {
    background-color: var(--color-light);
    padding: 30px;
    color: var(--color-white);
}

.info-section__title {
    font-size: 1.5rem;
}

.info-section__highlight {
    font-weight: bold;
}

.info-section__list {
    line-height: 1.6;
    margin-top: 10px;
    margin-left: 30px;
}

.main {
    padding: 5% 20%;
}

.main-section {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-darker);
    border-radius: 10px;
    margin-bottom: 20px;
}

.main-section__title {
    margin-bottom: 15px;
    width: 100%;
    color: var(--color-white);
    font-size: 3rem;
    font-weight: 200;
}

.main-section__description {
    font-size: 1.5rem;
}

.main-section__list {
    margin-top: 10px;
    margin-left: 30px;
}

.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden; /* Скрываем часть изображения, выходящую за пределы слайдера */
}

.slider__slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Убедитесь, что ширина слайдов установлена корректно */
}

.slider__slide {
    min-width: 100%; /* Каждый слайд занимает 100% ширины контейнера */
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Центрируем содержимое */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.slider__slide img {
    max-width: 100%; /* Ограничиваем максимальную ширину изображения */
    max-height: 80vh; /* Ограничиваем максимальную высоту изображения */
    object-fit: cover; /* Сохраняем пропорции изображения */
}

.slider__caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для читаемости */
    color: var(--color-white);
    padding: 10px;
    text-align: center;
}

.slider__text {
    padding: 10px;
	display: none;
	max-height: 50%;
	position: absolute;
	background-color: var(--color-darker-blur);
    color: var(--color-white);
	overflow-y: auto;
}
.slider__text p{
	height: 100%;
}

.slider__prev,
.slider__next {
    position: absolute; /* Фиксируем кнопки относительно родительского контейнера */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Центрируем по вертикали */
    background-color: rgba(255, 255, 255, 0.8); /* Пример фона для кнопок */
    border: none; /* Убираем границы */
    padding: 10px; /* Добавляем отступы */
    cursor: pointer; /* Указатель курсора при наведении */
    z-index: 10; /* Увеличиваем z-index, чтобы кнопки были поверх изображений */
}

.slider__next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider__prev:hover, .slider__next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;
}
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #265301;
  }
  
  a:visited {
    color: #437a16;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #bae498;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #cdfeaa;
  }
  
  a:active {
    background: #265301;
    color: #cdfeaa;
  }
@media (max-width: 768px) {
    html {
        font-size: 10px;
    .main-section {
        flex-direction: column;
        margin: 0;
        border-radius: 0;
    }
    .main-section__description {
        margin-right: 0;
    }
    .main {
        padding: 0;
    }
    .main-section__slides {
        display: block;
    }
}

.text {
    display: none; /* Скрываем текст по умолчанию */
}

.overlay {
    color: var(--color-white);
    font-weight: 400;
    position: absolute;
    top: 80%;
    z-index: 200;
}

.details, .text__content {
    margin-right: auto;
}

.text {
    max-height: 150px; /* Максимальная высота для текста */
    overflow-y: auto; /* Вертикальная прокрутка */
    padding: 10px; /* Отступы внутри текста */
}

.text p {
    margin-top: auto;
}

.text__content {
    color: var(--color-lighter);
    background-color: var(--color-medium);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.text__content ul {
    margin-top: 10px;
    margin-left: 30px;
}

ul li:nth-of-type(2n+1) {
    color: var(--color-lighter);
}

ul li:nth-of-type(2n) {
    color: var(--color-white);
}

.text__content h2 {
    text-shadow: 1px 1px 2px var(--color-dark);
}
/* .wor */